:root {
  --primary-color: #2b1dee;
  --text-color: white;
  --page-background-color: rgba(133, 159, 243, 0.1);
  --text-color-h2: gray;
  --text-color-p: gray;
}


* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8pt;

}

body {
  background-color: var(--page-background-color);
}

@font-face {
  font-family: Welcome;
  src: url(../fonts/Welcome.ttf);
}

/* ------------------------- FORMATTAZIONE NAVBAR E LOGO --------------------------*/
nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 10%;
  /*background-color: rgba(133, 159, 243, 0.1);*/
}

.navbar {
  overflow: hidden;
  align-content: center;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  flex-wrap: wrap;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--primary-color);
  border-radius: 5%;
}

.navbar .active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-radius: 5%;
}

.dropdown .btn {
  font-size: 8pt;
  border: none;
  outline: none;
  color: var(--primary-color);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(43, 29, 238, 1);
  z-index: 1;
  border-radius: 5%;
}

.dropdown-menu a {
  float: none;
  color: var(--primary-color);
  background-color: var(--page-background-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover,
.dropdown:hover .btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.dropdown-menu a:hover {
  background-color: var(--primary-color);
  color: var(--text-color);

}

.dropdown:hover .dropdown-menu {
  display: block;
}

#logo {
  width: 70px;
  display: flex;
  text-align: center;
  gap: 10%;
}

#logo img {
  width: 100%;
}

#logo-text {
  margin-top: 12px;
}

#logo-text span {
  font-size: 1.2rem;
  text-wrap: nowrap;
  color: var(--primary-color);
  font-family: Welcome;
}

#logo-text::first-line {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

#logo img {
  width: 100%;
}

/* ------------------------- FINE FORMATTAZIONE NAVBAR E LOGO --------------------------*/

/* ------------------------- FORMATTAZIONE HOME PAGE BOX--------------------------------*/
.homepage-box {
  display: flex;
  margin: 0 10%;
  gap: 2%;
}

.homepage-description {
  position: relative;
  max-width: 40%;
  width: 100%;
  margin: 10px 0;
  text-align: justify;
}

h1 {
  color: var(--primary-color);
  font-size: 20pt;
  text-align: left;
  margin-left: 10%;
  margin-top: 30px;
  line-height: 10px;
}

h2 {
  color: var(--text-color-h2);
  font-size: 12pt;
  text-align: left;
  margin-left: 10%;
  line-height: 20px;
}

p {
  color: var(--text-color-p);
}

/* ------------------------- FINE FORMATTAZIONE HOME PAGE BOX--------------------------------*/

/* ------------------------- FORMATTAZIONE SCORRIMENTO NEWS HOME PAGE BOX--------------------------------*/
.marquee-box {
  margin: 50px;
}

.image-container {
  position: relative;

}

.image-container img {
  width: 150px;
  height: 120px;
  margin: 0 50px;
}


.image-text {
  position: absolute;
  width: 150px;
  top: 90%;
  left: 125px;
  height: 25px;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 8pt;
  font-weight: bold;
  padding-left: 5px;
}

.image-text1 {
  position: absolute;
  width: 150px;
  top: 90%;
  left: 379px;
  height: 25px;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 8pt;
  font-weight: bold;
  padding-left: 5px;
}

.image-text2 {
  position: absolute;
  width: 150px;
  top: 90%;
  left: 632.5px;
  height: 25px;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 8pt;
  font-weight: bold;
  padding-left: 5px;
}

.image-text3 {
  position: absolute;
  width: 150px;
  top: 90%;
  left: 886.5px;
  height: 25px;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 8pt;
  font-weight: bold;
  padding-left: 5px;
}

.image-text4 {
  position: absolute;
  width: 150px;
  top: 90%;
  left: 1140px;
  height: 25px;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 8pt;
  font-weight: bold;
  padding-left: 5px;
}


/* unvisited link */
.image-container a:link {
  text-decoration: none;
}

/* visited link */
.image-container a:visited {
  text-decoration: none;
}

/* mouse over link */
.image-container a:hover {
  text-decoration: none;
}

/* selected link */
.image-container a:active {
  text-decoration: none;
}

/* ------------------------- FINE FORMATTAZIONE SCORRIMENTO NEWS HOME PAGE BOX--------------------------------*/


/* ------------------------- FORMATTAZIONE STUDENTI SIDEBAR --------------------------------*/
.box-studenti {
  display: flex;
  width: 80%;
  margin: 2% 10%;
}

.box-studenti aside {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.box-studenti aside a {
  text-decoration: none;
}

.box-studenti figure {
  width: 70%;
  text-align: right;
  margin: 0;
  padding: 0;
}

.box-studenti-contenuti-materie {
  width: 80%;
  margin: 2% auto;
}

.box-studenti-contenuti-materie h3,
.box-studenti-contenuti-materie h4 {
  color: var(--primary-color);
  text-align: center;
}

/* ------------------------- FINE FORMATTAZIONE STUDENTI SIDEBAR --------------------------------*/

/* ------------------------- INIZIO FORMATTAZIONE FOOTER --------------------------------*/
#footer {
  color: var(--primary-color);
  padding: 20px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.social-media {
  text-align: center;
}

.social-media a {
  margin: 0 10px;
  color: var(--primary-color);
  font-size: 20px;
  transition: 0.3s;
}

.social-media a:hover {
  color: var(--primary-color);
}

.copyright {
  text-align: center;
  margin-top: 10px;
}

.links {
  text-align: center;
  margin-top: 10px;
}

.links a {
  margin: 0 10px;
  color: var(--primary-color);
  font-size: 16px;
  transition: 0.3s;
}

.links a:hover {
  color: var(--primary-color);
}

/* ------------------------- FINE FORMATTAZIONE FOOTER --------------------------------*/

/* ------------------------- QUERY @MEDIA RESPONSIVE  --------------------------------*/

/* ------------------------- QUERY @MEDIA RESPONSIVE MAX WIDTH 1250px --------------------------------*/
@media only screen and (max-width: 1250px) {
  * {
    font-size: 8pt;
  }

  #logo img {
    width: 50%;
  }

  .dropdown .btn {
    font-size: 8pt;
  }

}

@media only screen and (max-width: 1054px) {
  nav {
    display: block;
  }

  .dropdown-menu {
    margin-left: 50px;
  }

  .dropdown .btn {
    font-size: 8pt;
  }

  .navbar a {
    padding: 12px 6px;
    font-size: 8pt;
  }

  .homepage-box {
    display: flex;
    flex-direction: column-reverse;

  }

  .homepage-description {
    max-width: 80%;
    margin: 0 auto;
  }

  .fade img {
    max-width: 400px;
    max-height: 450px;

  }

  .numbertext,
  .text {
    max-width: 400px;
    max-height: 450px;

  }
}

/* ------------------------- FINE QUERY @MEDIA RESPONSIVE MAX WIDTH 1250px --------------------------------*/

/* ------------------------- QUERY @MEDIA RESPONSIVE MAX WIDTH 768px --------------------------------*/

@media only screen and (max-width: 768px) {

  * {
    font-size: 10pt;
  }

  .dropdown .btn {
    font-size: 8pt;
  }

  .navbar a:not(:first-child),
  .dropdown .btn {
    display: none;
  }

  .icon {
    display: block;
    position: absolute;
    left: 50;
    top: 100;
    color: var(--primary-color);
    ;
  }

  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .navbar.responsive .dropdown {
    float: none;
  }

  .navbar.responsive .dropdown-menu {
    position: relative;
  }

  .navbar.responsive .dropdown .btn {
    display: block;
    text-align: left;
  }

  .homepage-box {
    margin: 0 auto;
  }

  .fade img {
    max-width: 325px;
    max-height: 350px;

  }

  .numbertext,
  .text {
    max-width: 325px;
    max-height: 350px;

  }

  h1 {
    margin-top: 7%;
  }

  h1,
  h2 {
    margin-left: auto;
    text-align: center;
  }

  .text {
    font-size: 11px
  }

  .social-media {
    text-align: left;
  }

  .links {
    text-align: left;
  }
}

/* ------------------------- FINE QUERY @MEDIA RESPONSIVE MAX WIDTH 768px --------------------------------*/
/* ------------------------- FINE @MEDIA RESPONSIVE--------------------------------*/