:root {
    --primary-color: rgb(3, 31, 120);
    --prymary-border: #0076a3;
    --text-color: white;
    --page-background-color: rgba(133, 159, 243, 0.1);
    --background-hover: #0095cd;
    --gradient-start: #0078a5;
    --gradient-end: #00adee;
    --box-shadow: rgba(43, 29, 238, 1);
    --color-active: yellow;
    --color-visited: red;
    --text-color-h2: gray;
    --text-color-p: gray;
  }



/* ============ desktop view ============ */
@media all and (min-width: 992px) {

    .container {
        margin: 0 8%;
    }


	.sidebar li{ position: relative; 
    margin: 1% 1%;

}

	.sidebar li .submenu{ 
		display: none;
		position: absolute;
		left:35%; top:1px;
		min-width: 240px;
	}

	[dir=rtl] .sidebar li .submenu{ 
		right:100%; left:auto;
	}

	.sidebar li:hover{ background:var(--background-hover); }
	.sidebar li:hover > .submenu{ display: block; }

}	
/* ============ desktop view .end// ============ */


/* ============ small devices ============ */
@media (max-width: 991px) {

	.sidebar .submenu, .sidebar .dropdown-menu{
		position: static!important;
		margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
	}

}	
/* ============ small devices .end// ============ */


.sidebar .nav-link {
    font-weight: 500;
    color: var(--primary-color);
}
.sidebar .nav-link:hover {
    background: var(--background-hover);
    color: var(--text-color);
}